@model TodoList.ViewModels.AccountIndexVm;
@{
    ViewData["Title"] = "Tài khoản";
}

<h6>
    <a asp-controller="Home" asp-action="Index">
        Trở về Trang chủ
    </a>
</h6>

<h2>Quản lý tài khoản</h2>

<a asp-controller="Account" asp-action="Register">
    <button class="btn btn-primary">Thêm mới</button>
</a>

<table class="table table-hover mt-3">
    <thead>
    <tr>
        @{
            var emptyAccount = new ApplicationUser();
        }
        <th>@Html.DisplayNameFor(model => emptyAccount.Staff.Id)</th>
        <th>@Html.DisplayNameFor(model => emptyAccount.Staff.LastName)</th>
        <th>@Html.DisplayNameFor(model => emptyAccount.Staff.FirstName)</th>
        <th>@Html.DisplayNameFor(model => emptyAccount.Email)</th>
        <th>@Html.DisplayNameFor(model => emptyAccount.Staff.Level)</th>
        <th>Hành động</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var account in Model.Accounts)
    {
        <tr>
            <td>@Html.DisplayFor(model => account.Staff.Id)</td>
            <td>@Html.DisplayFor(model => account.Staff.LastName)</td>
            <td>@Html.DisplayFor(model => account.Staff.FirstName)</td>
            <td>@Html.DisplayFor(model => account.Email)</td>
            <td>@Html.DisplayFor(model => account.Staff.Level)</td>
            <td>
                <button type="button" class="btn btn-outline-primary">Sửa</button>
            </td>
        </tr>
    }

    </tbody>
</table>