@using TodoList.Common.Utilities
@using Microsoft.EntityFrameworkCore.Metadata.Internal
@model TodoList.ViewModels.CongViecEditVm

@{
    ViewBag.Title = "Editing " + @Html.ViewData.Model.CongViec.Name;
    Layout = "_Layout";
}

<h6>
    <a asp-controller="CongViec" asp-action="Index">
        Trở về Danh sách Công việc
    </a>
</h6>

<h2>Editing @Html.ViewData.Model.CongViec.Name</h2>

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="CongViec.ID"/>
    <input type="hidden" asp-for="CongViec.NhanVienID"/>
    <div class="form-group">
        <label asp-for="CongViec.Name" class="control-label"></label>
        <input asp-for="CongViec.Name" class="form-control"/>
        <span asp-validation-for="CongViec.Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CongViec.StartDate" class="control-label"></label>
        <input asp-for="CongViec.StartDate" class="form-control"/>
        <span asp-validation-for="CongViec.StartDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CongViec.EndDate" class="control-label"></label>
        <input asp-for="CongViec.EndDate" class="form-control"/>
        <span asp-validation-for="CongViec.EndDate" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CongViec.TrangThai" class="control-label"></label>
        <select asp-for="CongViec.TrangThai" class="form-control">
            @foreach (var item in Enum.GetValues(typeof(Status)).Cast<Status>())
            {
                <option value="@item">
                    @Html.DisplayFor(model => item)
                </option>
            }
        </select>
        <span asp-validation-for="CongViec.TrangThai" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="CongViec.Privacy" class="control-label"></label>
        <select asp-for="CongViec.Privacy" class="form-control">
            @foreach (var item in Enum.GetValues(typeof(Access)).Cast<Access>())
            {
                <option value="@item">
                    @Html.DisplayFor(model => item)
                </option>
            }
        </select>
        <span asp-validation-for="CongViec.Privacy" class="text-danger"></span>
    </div>
    <input type="submit" value="Lưu" class="btn btn-primary"/>
</form>

<form asp-action="Delete">
    <input type="hidden" asp-for="CongViec.ID"/>
    <input type="submit" value="Xoá" class="btn btn-danger"/>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}