@model CongViec

@{
    ViewBag.Title = "Viewing CongViec";
    Layout = "_Layout";
}

<h6>
    <a asp-controller="CongViec" asp-action="Index">
        Go back to the CongViec list 8-) 8-) 8-)
    </a>
</h6>

<h2>You are editing individual CongViec</h2>
<p>Hello there.</p>

<label for="@Html.NameFor(model => model.ID)">
    @Html.DisplayNameFor(model => model.ID)
</label>
<input type="text" value="@Html.DisplayFor(model => model.ID)" disabled>
<label for="@Html.NameFor(model => model.Name)">
    @Html.DisplayNameFor(model => model.Name)
</label>
<input type="text" value="@Html.DisplayFor(model => model.Name)">
