@model IEnumerable<CongViec>
@{
    ViewData["Title"] = "The CongViec List";
}

<h2>Danh sách Công việc</h2>

<form asp-action="Create">
    <input for="name" class="form-control" placeholder="Nhập tên công việc..."/>
    <input type="submit" value="Tạo mới" class="btn btn-primary"/>
</form>

<table>
    <tr>
        <th>@Html.DisplayNameFor(model => model.NhanVienID)</th>
        <th>@Html.DisplayNameFor(model => model.Name)</th>
        <th>@Html.DisplayNameFor(model => model.StartDate)</th>
        <th>@Html.DisplayNameFor(model => model.EndDate)</th>
        <th>@Html.DisplayNameFor(model => model.TrangThai)</th>
        <th>@Html.DisplayNameFor(model => model.Privacy)</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>@Html.DisplayFor(model => item.Name)</td>
            <td>@Html.DisplayFor(model => item.StartDate)</td>
            <td>@Html.DisplayFor(model => item.EndDate)</td>
            <td>@Html.DisplayFor(model => item.TrangThai)</td>
            <td>@Html.DisplayFor(model => item.Privacy)</td>
        </tr>
    }
</table>