@model IEnumerable<CongViec>
@{
    ViewData["Title"] = "The CongViec List";
}

<h2>This is the CongViec list.</h2>
<table>
    <tr>
        <th>NhanVien</th>
        <th>Name</th>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Trang Thai</th>
        <th>Privacy</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td></td>
            <td>@Html.DisplayNameFor(model => model.Name)</td>
            <td>@Html.DisplayNameFor(model => model.StartDate)</td>
            <td>@Html.DisplayNameFor(model => model.EndDate)</td>
            <td>@Html.DisplayNameFor(model => model.TrangThai)</td>
            <td>@Html.DisplayNameFor(model => model.Privacy)</td>
        </tr>
    }
</table>