@model ActivityLogIndexVm
@{
    ViewData["Title"] = "Nhật ký";
}

<h6>
    <a asp-controller="Home" asp-action="Index">
        Trở về Trang chủ
    </a>
</h6>

<h2>Nhật ký hoạt động</h2>

<table class="table table-bordered table-hover table-sm mt-3">
    <thead>
    <tr>
        @{
            var emptyLog = new ActivityLog();
        }
        <th style="width: 16%">@Html.DisplayNameFor(m => emptyLog.TodoTask.Name)</th>
        <th style="width: 16%">@Html.DisplayNameFor(m => emptyLog.StaffId)</th>
        <th>@Html.DisplayNameFor(m => emptyLog.Content)</th>
        <th style="width: 16%">@Html.DisplayNameFor(m => emptyLog.CreatedAt)</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.ActivityLogs)
    {
        <tr>
            <td>
                @if (item.TodoTask.IsHidden == false)
                {
                    <a asp-controller="TodoTask" asp-action="View" asp-route-id="@item.TodoTaskId">
                        @Html.DisplayFor(m => item.TodoTask.Name)
                    </a>
                }
                else
                {
                    @Html.DisplayFor(m => item.TodoTask.Name)
                }
            </td>
            <td>@Html.DisplayFor(m => item.Staff.FullName)</td>
            <td>@Html.DisplayFor(m => item.Content)</td>
            <td>@Html.DisplayFor(m => item.CreatedAt)</td>
        </tr>
    }
    </tbody>
</table>