@using TodoList.Common.Utilities
@model TodoList.ViewModels.TodoTaskIndexVm
@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService
@{
    ViewData["Title"] = "Task List";
}

<h2>Danh sách Công việc</h2>

<div class="tasklist">
    <h5 class="tasklist--title">Công việc của tôi</h5>
    <form asp-action="Create" class="row row-margin-t">
        <div class="col">
            <input name="name" class="form-control" placeholder="Nhập tên công việc..."/>
        </div>
        <div class="col-sm-auto">
            <input type="submit" value="Tạo mới" class="btn btn-primary"/>
        </div>
    </form>
    <ul class="row-margin-t">
        @foreach (var todoTask in Model.CreatedTodoTasks)
        {
            <li class="tasklist-item row-margin-t card">
                <p class="tasklist-item--name">
                    @Html.DisplayFor(model => todoTask.Name)
                </p>
                @if (todoTask.Access == TaskAccess.IsPrivate)
                {
                    <span class="tasklist-item--access tasklist-item--access__public">
                        @Html.DisplayFor(model => todoTask.Access)
                    </span>
                }
                <span class="tasklist-item--enddate">
                    @Html.DisplayFor(model => todoTask.EndDate)
                </span>
                <a asp-action="Edit" asp-route-id="@todoTask.Id" class="tasklist-item--edit">
                    Chỉnh sửa
                </a>
                @Html.DisplayFor(model => todoTask.TodoTaskPartners)
            </li>
        }
    </ul>
</div>

@* <table> *@
@*     <tr> *@
@*         <th>@Html.DisplayNameFor(model => model.StaffId)</th> *@
@*         <th>@Html.DisplayNameFor(model => model.Name)</th> *@
@*         <th>@Html.DisplayNameFor(model => model.StartDate)</th> *@
@*         <th>@Html.DisplayNameFor(model => model.EndDate)</th> *@
@*         <th>@Html.DisplayNameFor(model => model.Status)</th> *@
@*         <th>@Html.DisplayNameFor(model => model.Access)</th> *@
@*         <th>Hành động</th> *@
@*     </tr> *@
@*     @foreach (var item in Model) *@
@*     { *@
@*         <tr> *@
@*             <td>@Html.DisplayFor(model => item.Staff.FirstName)</td> *@
@*             <td>@Html.DisplayFor(model => item.Name)</td> *@
@*             <td>@Html.DisplayFor(model => item.StartDate)</td> *@
@*             <td>@Html.DisplayFor(model => item.EndDate)</td> *@
@*             <td>@Html.DisplayFor(model => item.Status)</td> *@
@*             <td>@Html.DisplayFor(model => item.Access)</td> *@
@*             <td> *@
@*                 <a asp-action="Edit" asp-route-id="@item.Id">Chỉnh sửa</a> *@
@*             </td> *@
@*         </tr> *@
@*     } *@
@* </table> *@