@model TodoTaskComponentVm

<li class="tasklist-item mt-2 card card__padding">
    <div class="row">
        <div class="col-xl-7 col-lg-12">
            <a asp-action="View" asp-route-id="@Model.TodoTask.Id" class="tasklist-item--name">
                @Html.DisplayFor(model => model.TodoTask.Name)
            </a>
            @Html.DisplayFor(model => model.TodoTask.Access, "TodoTask_TaskAccess")
        </div>
        <span class="tasklist-item--enddate col-xl-5 col-lg-12">
            @Html.DisplayFor(model => model.TodoTask.EndDate)
        </span>
    </div>
    @if (Model.TodoTask.CreatedById != Model.TodoTask.StaffId)
    {
        <div class="row">
            <div class="col">
                <small>
                    @Html.Raw("Tạo bởi:&nbsp;")
                    @Html.DisplayFor(model => model.TodoTask.CreatedBy.FullName)
                </small>
            </div>
        </div>
    }
    <div class="row">
        <div class="col">
            @Html.Raw("Đảm nhiệm:&nbsp;")
            <span data-toggle="tooltip" title="@Html.DisplayFor(model => model.TodoTask.Staff.FullName)">
                @Html.DisplayFor(model => model.TodoTask.Staff.FirstName)
            </span>
        </div>
    </div>
    <div class="row">
        <div class="tasklist-item--partners col-xl-9 col-lg-12">
            @Html.DisplayFor(model => model.TodoTask.TodoTaskPartners, "TodoTask_TodoTaskPartners")
        </div>
        @if (Model.EditableTodoTaskIds.Contains(Model.TodoTask.Id))
        {
            <div class="tasklist-item--edit col-xl-3 col-lg-12">
                <a asp-action="Edit" asp-route-id="@Model.TodoTask.Id">
                    Chỉnh sửa
                </a>
            </div>
        }
    </div>
</li>