@model TodoTask

<li class="tasklist-item mt-2 card card__padding">
    <div class="row">
        <div class="col-xl-7 col-lg-12">
            <a class="tasklist-item--name" href="#">
                @Html.DisplayFor(model => model.Name)
            </a>
            @Html.DisplayFor(model => model.Access, "TodoTask_TaskAccess")
        </div>
        <span class="tasklist-item--enddate col-xl-5 col-lg-12">
            @Html.DisplayFor(model => model.EndDate)
        </span>
    </div>
    <div class="row">
        <div class="col">
            @Html.Raw("Đảm nhiệm:&nbsp;")
            @Html.DisplayFor(model => model.Staff.FirstName)
        </div>
    </div>
    <div class="row">
        <div class="tasklist-item--partners col-xl-9 col-lg-12">
            @Html.DisplayFor(model => model.TodoTaskPartners, "TodoTask_TodoTaskPartners")
        </div>
        <div class="tasklist-item--edit col-xl-3 col-lg-12">
            <a asp-action="Edit" asp-route-id="@Model.Id">
                Chỉnh sửa
            </a>
        </div>
    </div>
</li>