@model ProductIndexVm

@{
    ViewBag.Title = "Sản phẩm";
    Layout = "_Layout";
}

<div class="row">
    <div class="mx-auto">
        <h5 class="card-title text-center">TechShop Inc.</h5>
        <hr>
        <table class="table">
            <thead>
            <tr>
                @{
                    var empty = new Product();
                }
                <th scope="col">
                    @Html.DisplayNameFor(m => empty.Name)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(m => empty.Sku)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(m => empty.Price)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(m => empty.Manufacturer)
                </th>
                <th scope="col">
                    @Html.DisplayNameFor(m => empty.ProductTypeId)
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>
                        <a asp-action="Show" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                    <td>@item.Sku</td>
                    <td>@item.Price</td>
                    <td>@item.Manufacturer</td>
                    <td>@item.ProductType.Name</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}