@using applicationRole = TodoList.Models.ApplicationRole
@model AccountMeVm

<h6>
    <a asp-controller="Home" asp-action="Index">
        Trở về Trang chủ
    </a>
</h6>

<h2>Thông tin Nhân viên</h2>

<form asp-action="Me">
    @Html.HiddenFor(m => m.Staff.Id)
    @Html.HiddenFor(m => m.Staff.Level)

    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger", role = "alert" })
    <div class="form-group">
        <label class="control-label">Tên đăng nhập</label>
        <input type="text" readonly="readonly" value="@User.Identity.Name" class="form-control">
    </div>

    <div class="form-row">
        <div class="form-group col">
            @Html.LabelFor(m => m.Staff.LastName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Staff.LastName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Staff.LastName, null, new { @class = "text-danger" })
        </div>
        <div class="form-group col">
            @Html.LabelFor(m => m.Staff.FirstName, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Staff.FirstName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.Staff.FirstName, null, new { @class = "text-danger" })
        </div>
    </div>
    <input type="submit" value="Lưu" class="btn btn-primary col-1" />
</form>

    @*    Change Password component*@
    @* <a data-toggle="collapse" data-target="#changePassword" href="#">Thay đổi mật khẩu</a> *@
    @* <br /> *@
    @* <div id="changePassword" class="collapse"> *@
    @*     <div class="form-group"> *@
    @*         @Html.LabelFor(m => m.Password, new { @class = "control-label" }) *@
    @*         @Html.PasswordFor(m => m.Password, new { @class = "form-control" }) *@
    @*         @Html.ValidationMessageFor(m => m.Password, null, new { @class = "text-danger" }) *@
    @*     </div> *@
    @*     <div class="form-group"> *@
    @*         @Html.LabelFor(m => m.Password2, new { @class = "control-label" }) *@
    @*         @Html.PasswordFor(m => m.Password2, new { @class = "form-control" }) *@
    @*         @Html.ValidationMessageFor(m => m.Password2, null, new { @class = "text-danger" }) *@
    @*     </div> *@
    @* </div> *@
    @* <hr /> *@
    @* <input type="submit" value="Lưu" class="btn btn-primary col-1" /> *@

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

